.img-g {
    width: 22.4vw;  
    display: flex;
    justify-content: center;
    margin: 0 auto;    
    position: absolute;
    opacity: 0;
    animation: slide 9s infinite;
}

.img-g:nth-child(2){
    animation-delay: 3s;
}
.img-g:nth-child(3){
    animation-delay: 6s;
}

@keyframes slide {
    25% {
        opacity: 1;
        transform: scale(1..1 , 1.1);
    }
    50% {
        opacity: 0;
    }
}