.menu-mobile {
    display: none;
}

header {
    display: flex;
    justify-content: center;
}

.tittle-header {
    width: 80vw;
    font-family: 'Inter', sans-serif;
    font-size: 2.2vw;
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 0.5vw 2vw 2vw;
    border-bottom: 0.1vw solid white;
}

.letra{
    margin: 0.5vw;
}