.menu-mobile {
    display: none;
}

.tittle-header {
    font-family: 'Inter', sans-serif;
    font-size: 2.2vw;
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 0.5vw;
}

.letra{
    margin: 0.5vw;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    border-top: 0.08vw solid #fff;
}

.item-menu {
    font-size: 1.3vw;
    text-decoration: none;
    color: #fff; 
    padding: 1vw 3vw;
}