.menu-mobile {
    display: none;
}

header {
    display: flex;
    justify-content: center;
}

.tittle-header {
    width: 80vw;
    font-family: 'Inter', sans-serif;
    font-size: 2.2vw;
    color: #fff;
    display: flex;
    justify-content: center;
    border-bottom: 0.1vw solid white;
    padding: 0.8vw 0.8vw;
    margin-bottom: 1.5vw;
}

.letra{
    margin: 0.5vw;
}