@media(max-width: 1000px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-left {
        width: 70vw;
        height: 40vw;        
    }

    .content-right {
        display: flex;
        flex-direction: row;
        gap: 3.5vw;
    }

    .div-pequena {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0.5vw;   
    }

    .item-medio  h2{
        font-size: 2vw;
    }

    .img-media {
        height: 9.4vw;
    }
    .img-p {
        width: 4.5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    .img-g {
        width: 19.5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    
    h2 {
        font-size: 1.5vw;
    }

    p {
        font-size: 1.1vw;
    }
    
    .item-medio{
        padding-bottom: 1vw;
    }

    .legend-media {
        width: 27.5vw;
        margin-bottom: 1vw;
        margin: 0;
    }

}