.relogio {
    position: relative;
}

.comp-relogio {
    margin: 2vw;
    width: 72.5%;
    height: 72.5%;
    position: absolute;
    top: 0;
    left: 0;
}

.min {
    animation: girarPonteiro 5s linear infinite;
}

.hora {
    animation: girarPonteiro 60s linear infinite;
}

@keyframes girarPonteiro{
    from{
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}